[Unit]
Description=Door chatter IRC bot

[Service]
Type=simple
User=doormon
Group=doormon
ExecStart=/srv/doormon/venv/bin/python /srv/doormon/doormon.py
WorkingDirectory=/srv/doormon
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
